* {
    height: 60%;
    
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    background-image: linear-gradient(to bottom, #AC99F2, #CED3F2, #A7BAF2, #D9D9D9);
    background-attachment: fixed;
    
}

.menu {
    text-align: center;
    
}

h2,p {
    
    color: rgb(71, 119, 105);
}

h2 {
    width: auto;
    height: auto;
}