
body {
    background-color: lightgray;
}

main {
    background-color: whitesmoke;
    padding: 12px;
    margin: auto;
    border-radius: 10px;

    min-height: 260px;
    max-width: 1024px;
}

h1 { 
    text-align: center;
}

main .irina-block {
    display: block;
    margin: auto;
    width: 100%;
}